@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: rgb(158, 199, 199);
  width: 1100px;
  margin: auto;
  margin-top: 50px;
}

.information {
  display: flex;
  padding: 20px;
}

.information input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
}

.information input:focus {
  outline: 3px solid #5348eb;
}

.information button {
  background: none;
  border: none;
  background-color: #5348eb;
  color: #fff;
  padding: 6px 12px;
  font-size: 24px;
  cursor: pointer;
}
.titles {
  display: flex;
  justify-content: space-between;
  background-color: #5348eb;
  color: #fff;
  font-size: 18px;
  padding: 6px 12px;
  font-weight: 600;
}

.result {
  background-color: #5348eb;
  color: #fff;
}

.inforesult {
  display: block;
  background-color: rgb(40, 187, 245);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}
